---
http_interactions:
- request:
    method: post
    uri: https://my30.geotab.com/apiv1/
    body:
      encoding: UTF-8
      string: '{"method":"Get","params":{"typeName":"Device","credentials":{"database":"<database>","userName":"<username>","sessionId":"<sessionId>"},"search":{}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"result":[{"auxWarningSpeed":[0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0]}],"jsonrpc":"2.0"}'
  recorded_at: Wed, 30 Jan 2019 22:54:57 GMT
recorded_with: VCR 4.0.0
