---
http_interactions:
- request:
    method: post
    uri: https://my30.geotab.com/apiv1/
    body:
      encoding: UTF-8
      string: '{"method":"Get","params":{"typeName":"Device","credentials":{"database":"<database>","userName":"<username>","<sessionId>":"<sessionId>"},"search":{}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"result":[{"auxWarningSpeed":[0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0]}],"jsonrpc":"2.0"}'
  recorded_at: Wed, 30 Jan 2019 23:10:36 GMT
- request:
    method: post
    uri: https://my30.geotab.com/apiv1/
    body:
      encoding: UTF-8
      string: '{"method":"Get","params":{"typeName":"FaultData","credentials":{"database":"<database>","userName":"<username>","<sessionId>":"<sessionId>"},"search":{"deviceSearch":{"id":"b6B"},"fromDate":"2018-10-22T16:10:36-07:00"}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"result":[{"dateTime":"2015-05-26T18:09:51.720Z","device":{"id":"b4"},"diagnostic":{"id":"DiagnosticInvalidGpsMessagesReceivedId"},"amberWarningLamp":false,"count":1,"failureMode":"NoFailureModeId","faultState":"Pending","malfunctionLamp":false,"protectWarningLamp":false,"redStopLamp":false,"id":"b69"},{"dateTime":"2015-05-29T19:13:26.737Z","device":{"id":"b4"},"diagnostic":{"id":"DiagnosticLowPriorityWarningLightId"},"amberWarningLamp":false,"count":1,"failureMode":"NoFailureModeId","faultState":"Active","malfunctionLamp":false,"protectWarningLamp":false,"redStopLamp":false,"id":"b6E"},{"dateTime":"2015-05-31T12:20:52.010Z","device":{"id":"b4"},"diagnostic":{"id":"DiagnosticDeviceRestartedBecauseOfFirmwareUpdateId"},"amberWarningLamp":false,"count":1,"failureMode":"NoFailure[...]
