---
http_interactions:
- request:
    method: post
    uri: https://my30.geotab.com/apiv1/
    body:
      encoding: UTF-8
      string: '{"method":"Get","params":{"typeName":"Device","credentials":{"database":"<database>","userName":"<username>","sessionId":"<sessionId>"},"search":{}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"result":[{"auxWarningSpeed":[0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0]}],"jsonrpc":"2.0"}'
  recorded_at: Wed, 30 Jan 2019 23:10:57 GMT
- request:
    method: post
    uri: https://my30.geotab.com/apiv1/
    body:
      encoding: UTF-8
      string: '{"method":"Get","params":{"typeName":"DeviceStatusInfo","credentials":{"database":"<database>","userName":"<username>,"<sessionId>":"<sessionId>"},"search":{"deviceSearch":{"id":"b6B"}}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"result":[{"dateTime":"2015-08-19T15:51:27.000Z","device":{"id":"b4"},"driver":{"id":"b41B4DC0B"},"groups":[{"children":[],"id":"GroupCompanyId"}],"bearing":208,"currentStateDuration":"00:21:27","exceptionEvents":[],"isDeviceCommunicating":true,"isDriving":true,"latitude":34.0154358,"longitude":-84.2604429,"speed":42.0}]}'
  recorded_at: Wed, 30 Jan 2019 23:10:58 GMT
recorded_with: VCR 4.0.0
