---
http_interactions:
- request:
    method: post
    uri: https://my.geotab.com/apiv1/
    body:
      encoding: UTF-8
      string: '{"method":"Authenticate","params":{"userName":"<username>","password":"<password>","database":"<database>"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"result":{"credentials":{"database":"<database>","sessionId":"<sessionId>","userName":"<username>"},"path":"my30.geotab.com","securityToken":{"database":"<database>","sessionId":"<sessionId>","userName":"<username>"}},"jsonrpc":"2.0"}'
  recorded_at: Wed, 30 Jan 2019 22:20:31 GMT
recorded_with: VCR 4.0.0
